#mainTable{
    margin-top: 20px;
}


#cardOne{
    height: auto;
}

#cardTwo{
    height: auto;
}
#btnCompare{
    margin-top: 15px;
}
#myChart{
    width: auto;
}
#alertEmptyDB{
    margin-top: 15px;
}
.btn{
    margin-bottom: 10px;
}


