<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Line Chart</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }







    </style>

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>

<div id="myChart" style="width:75%;">
    <canvas id="canvas"></canvas>
</div>
<script th:inline="javascript">

  var error = [[${error}]];

    if (error > 0) {

        window.alert("Too Many Requests - wait 1 min");
        window.location.reload(true);

    } else {

        var historicalData = [(${historicalData})];
        var timeFormat = 'YYYY-MM-DD h:mm:ss';


        var m0 = [(${m0})];
        var m1 = [(${m1})];
        var m2 = [(${m2})];
        var color = [[${color}]];


        var timeFormat = 'YYYY-MM-DD h:mm:ss';


         new Chart(document.getElementById("canvas"), {
        type: 'line',
        data: {
            datasets: [{
                data: historicalData,
                fill: true,
                borderColor: "#3e95cd"
            },
            {
                data: m0,
                fill: false,
                borderColor: color[0]
            },
            {
                data: m1,
                fill: false,
                borderColor: color[1]
            },
            {
                data: m2,
                fill: false,
                borderColor: color[2]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: "Currency Exchange Rates"
            },
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        parser: timeFormat,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'USD/EUR Rates'
                    }
                }]
            }
         }
        });
    }




</script>

</body>

</html>