<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="exchangeRateCard">
    <b th:text="${exchangeRate.getCurrencyRealTimeValue().getFromCurrencyName()}"></b>
    <b> / </b>
    <b th:text="${exchangeRate.getCurrencyRealTimeValue().getToCurrencyName()}"></b>
    <p>
        <b> 1 </b>
        <b th:text="${exchangeRate.getCurrencyRealTimeValue().getFromCurrencyCode()}"></b>
        <b> COST</b>
        <b th:text="${exchangeRate.getCurrencyRealTimeValue().getExchangeRate().substring(0,6)}"></b>

        <b th:text="${exchangeRate.getCurrencyRealTimeValue().getToCurrencyCode()}"></b>
    </p>
</div>

</body>
</html>